################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/FileContentIndex/4e2034b6-da06-4390-8c8d-7b83cc4e9dbe.vsidx
