################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/FileContentIndex/4e2034b6-da06-4390-8c8d-7b83cc4e9dbe.vsidx
/Shopping/.vs/Shopping/FileContentIndex/6065071d-fa3e-4797-aa41-646a53d3207b.vsidx
/Shopping/.vs/Shopping/FileContentIndex/618e075b-4d63-4dc3-a0b7-8328afe91f31.vsidx
/Shopping/.vs/Shopping/FileContentIndex/a5f21f35-f433-4d7d-af6e-e43d8ee1da5e.vsidx
/Shopping/.vs/Shopping/FileContentIndex/d1116575-af0e-4f09-adef-e86202706de1.vsidx
/Shopping/.vs/Shopping/FileContentIndex/daaa7cdc-e47d-4304-9134-f080d93df2a7.vsidx
/Shopping/.vs/Shopping/FileContentIndex/377dc7f9-71ed-4ee7-beb6-d928a883599e.vsidx
